Source: sp-stress
Section: misc
Priority: optional
Maintainer: Eero Tamminen <eero.tamminen@nokia.com>
Build-Depends: debhelper (>= 5.0.0)
Standards-Version: 3.6.1

Package: sp-stress
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, stress
Recommends: spew
Description: Tools for creating stress test loads
 Contains the following tools:
   - `swpload' exercises the kernel virtual memory subsystem by creating
     clients that access memory pages with configurable patterns.
   - `cpuload' generates CPU load according to specified value.
   - `memload' allocates configurable amount of memory.
   - `flash_eater' allocates disk space on the filesystem so that only a
     configurable amount of free space will be left.
   - `run_secs' allows execution of given command for a configurable time
     period, after which it will be terminated.

Package: sp-stress-dbg
Architecture: any
Priority: extra
Section: debug
Depends: sp-stress (= ${Source-Version})
Description: sp-stress debug symbols
 Contains debug symbol files for sp-stress utilities
